
<% content_for(:html_title) { 'Purchase Order Approval Rule - Index' } %>

<!-- START card -->
<div class="card card-transparent">
    <div class="card-header">
     <div class="pull-left">
       <%= link_to 'New PO Approval Rule', new_po_approval_path, :class => 'btn btn-primary btn-cons' %>
     </div>
     <div class="pull-right">
       <div class="col-xs-12">
         <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
       </div>
     </div>
     <div class="clearfix"></div>
   </div>
   <div class="card-body">
     
     <table class="table table-hover table-responsive-block" id="tableWithSearch">
       <thead>
         <tr>
          <th>Requester</th>
          <th>Reviewed by</th>
          <th>Final Approval</th> 
          <th>Is active</th>
          <th>Action</th>

         </tr>
       </thead>
       <tbody>
         <% @po_approvals.each do |po_approval| %>
         <tr>
         
          <td class="v-align-middle semi-bold"><%= po_approval.requester %></td>
          <td class="v-align-middle"><%=  po_approval.apv1 %></td>
          <td class="v-align-middle"><%= po_approval.apv2 %></td>
          <td class="v-align-middle"><%= po_approval.is_active %></td>
          <td class="v-align-middle"><%= link_to 'Show', po_approval %> |
          <%= link_to 'Edit', edit_po_approval_path(po_approval) %> |
          <%= link_to 'Delete', po_approval, method: :delete, data: { confirm: 'Are you sure to PO Approval ?'  } %></td>
          
        
         
         </tr>
          <% end %>
       </tbody>
     </table>
    
   </div>
</div>



