
<% content_for(:html_title) { 'Department - View : ' + @department.name } %>


<div class="card card-default">
	<div class="card-body">
	 <%= simple_form_for @department,:html=> { role: 'form',class: 'form-horizontal' }  do |f| %>
	 
	  <div class="form-group row">
	    <label for="fname" class="col-md-3 control-label">Department</label>
	    <div class="col-md-9">
	      <%= f.text_field :name, value:@department.name , class: 'form-control' , :disabled =>true %>
	    </div>
	  </div>


	  <div class="form-group row">
	    <label for="fname" class="col-md-3 control-label">Default Cost Center</label>
	    <div class="col-md-9">
	      <%= f.text_field :name, value:@department.costcenter.code + ' - ' + @department.costcenter.name , class: 'form-control' , :disabled =>true %>
	    </div>
	  </div>


	   <div class="form-group row">
	    <label for="fname" class="col-md-3 control-label">Default Expense</label>
	    <div class="col-md-9">
	      <%= f.text_field :name, value:@department.expense.code + ' - ' + @department.expense.name , class: 'form-control' , :disabled =>true %>
	    </div>
	  </div>
	  
	  

	  <br>
	 <% end %>  

	<%= link_to 'Edit', edit_department_path(@department), :class => 'btn btn-complete btn-cons' %> 
	<%= link_to 'Back', departments_path , :class => 'btn btn-complete btn-cons' %>

	</div>
</div>




