<h4><%= t "devise.invitations.edit.header" %></h4>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>

  <%= f.hidden_field :invitation_token %>



  <div class="form-group form-group-default">
   <label>New Password</label>
    <div class="controls">
     <%= f.password_field :password,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, :class =>'form-control', :placeholder => 'New Password'   %>
    </div>
  </div>

  <div class="form-group form-group-default">
    <label>Password Confirmation</label>
    <div class="controls">
     <%= f.password_field :password_confirmation,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, :class =>'form-control', :placeholder => 'Confirm your new password'   %>
    </div>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, t("devise.invitations.edit.submit_button"), :class => 'class="btn btn-primary btn-cons m-t-10"'  %>
  </div>
<% end %>
